@model IEnumerable<Skill>
@{
    ViewBag.Header = "My Skills";
    ViewData["Title"] = "Skills";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="btn-close"
                data-bs-dismiss="alert" aria-label="Close">
        </button>
        @TempData["Message"]
    </div>
}

<table class="table-bordered text-center table-content">
    <thead class="bg-primary">
        <tr>
            <th class="w-50">
                @Html.DisplayNameFor(model=>model.Name)
            </th>
            <th class="w-25"></th>
        </tr>
    </thead>
    <tbody class="h-10">
        @foreach(Skill skill in Model)
        {
            <tr>
                <td class="text-start">
                    @skill.Name
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@skill.SkillId">Edit</a> |
                    <a class="btn btn-primary" asp-action="Delete"  asp-route-id="@skill.SkillId"> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary mt-3 mb-3" asp-action="Add">Add Skill</a>